<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="devtools.preferences"
            class="jpa.preferences.JPAPreferencePage"
            id="jpa.preferences.JPAPreferencePage"
            name="JPA">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="jpa.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
